<section class=" mbr-fullscreen-footer-pp" id="section6">

    <div class="mbr-overlay" style="opacity: 1; background: gold;">
   
    </div>

    <div class="container">
      
      

            
            <div class="media-container-row">
           
            <div style="background: gold; ">
         <br />   
      <p><a href="#" style="color:Black;" data-toggle="modal" data-target="#pp">Privacy Policy</a> | <a href="#" style="color:Black;" data-toggle="modal" data-target="#tac">T & C </a> <br />
    <b>&copy PRESTIGE ACCOMMODATION</b> </p>
	
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>
<div class="footer-nav"> 
    <p><a href="#" style="color:Black;" data-toggle="modal" data-target="#pp">Privacy Policy</a> | <a href="#" style="color:Black;" data-toggle="modal" data-target="#tac">T & C </a> <br />
    &copy 3FELLAS PTY LTD</p>
</div>

  <!-- Modal -->
  <div class="modal fade" id="pp" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">Privacy Policy</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body" style="text-align:justify">
          
          <p>3FELLAS Stayz is committed to providing quality services to you and this policy outlines our ongoing obligations to you in respect of how we manage your Personal Information. <br />
We have adopted the Australian Privacy Principles (APPs) contained in the Privacy Act 1988 (Cth) (the Privacy Act). The NPPs govern the way in which we collect, use, disclose, store, secure and dispose of your Personal Information. <br />
A copy of the Australian Privacy Principles may be obtained from the website of The Office of the Australian Information Commissioner at www.aoic.gov.au</p>
<p>
<b>What is Personal Information and why do we collect it?</b> <br />
Personal Information is information or an opinion that identifies an individual. Examples of Personal Information we collect include: names, addresses, email addresses, phone and facsimile numbers, passport numbers, salary slips, bank statements, drivers licence numbers. <br />
This Personal Information is obtained in many ways including <b>correspondence, by telephone and facsimile, by email, via our website https://stayz.3fellas.com.au </b> and from third parties. We don't guarantee website links or policy of authorised third parties. Primary purpose for collecting your information is to fulfil the KYC (Know Your Customer) which is required to identify you. Secondary purpose is to assess your eligibility for the Tenancy Application for the said property. <br />
We collect your Personal Information for the primary purpose of providing our services to you, providing information to our clients and marketing. We may also use your Personal Information for secondary purposes closely related to the primary purpose, in circumstances where you would reasonably expect such use or disclosure. You may unsubscribe from our mailing/marketing lists at any time by contacting us in writing. <br />
When we collect Personal Information we will, where appropriate and where possible, explain to you why we are collecting the information and how we plan to use it. <br />
</p>
<b>Sensitive Information</b><br />
Sensitive information is defined in the Privacy Act to include information or opinion about such things as an individual's racial or ethnic origin, political opinions, membership of a political association, religious or philosophical beliefs, membership of a trade union or other professional body, criminal record or health information.<br />
Sensitive information will be used by us only: <br />
<ul>
<li> For the primary purpose for which it was obtained</li>
<li> For a secondary purpose that is directly related to the primary purpose</li>
<li> With your consent; or where required or authorised by law.</li>
</ul>
<p>
<b>Third Parties</b><br />
Where reasonable and practicable to do so, we will collect your Personal Information only from you. However, in some circumstances we may be provided with information by third parties. In such a case we will take reasonable steps to ensure that you are made aware of the information provided to us by the third party.
</p>
<p>
<b>Disclosure of Personal Information</b><br />
Your Personal Information may be disclosed in a number of circumstances including the following: <br />
<ul>
<li> Third parties where you consent to the use or disclosure; and</li>
<li> Where required or authorised by law.</li>
</ul>
</p>
<p>
<b>Security of Personal Information</b><br />
Your Personal Information is stored in a manner that reasonably protects it from misuse and loss and from unauthorized access, modification or disclosure.<br />
When your Personal Information is no longer needed for the purpose for which it was obtained, we will take reasonable steps to destroy or permanently de-identify your Personal Information. However, most of the Personal Information is or will be stored in client files which will be kept by us for a minimum of 7 years.<br />
</p>
<p>
<b>Access to your Personal Information</b><br />
You may access the Personal Information we hold about you and to update and/or correct it, subject to certain exceptions. If you wish to access your Personal Information, please contact us in writing.<br />
<b>3FELLAS Stayz</b> will not charge any fee for your access request, but may charge an administrative fee for providing a copy of your Personal Information.<br />
In order to protect your Personal Information we may require identification from you before releasing the requested information.<br />
</p>
<p>
<b>Maintaining the Quality of your Personal Information</b><br />
It is an important to us that your Personal Information is up to date. We  will  take reasonable steps to make sure that your Personal Information is accurate, complete and up-to-date. If you find that the information we have is not up to date or is inaccurate, please advise us as soon as practicable so we can update our records and ensure we can continue to provide quality services to you.<br />
</p>

<p>
<b>Policy Updates</b><br />
This Policy may change from time to time and is available on our website.<br />
</p>
<p>
<b>Privacy Policy Complaints and Enquiries</b>
If you have any queries or complaints about our Privacy Policy please contact us at: <br />
<b>
35 Woodley Cres, Glendenning, NSW 2761 <br />
stayz@3fellas.com.au
</b>
          </p>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="tac" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">Terms and Conditions</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body" style="text-align:justify">
          <p><b>Approval of your EOI:</b><br>

1.You should have filled-in an online enquiry to initiate your application process on https://stayz.3fellas.com.au <br />
2.Please sign the Tenancy Agreement to 3FELLAS Stayz. You have to pay 2 Weeks' advance rent Payable to 3FELLAS Stayz Business Accounted nominated in your Tenancy Agreement. <br />
3.You will also be required to fill-in the Fairtrade Bond (not exceeding 4 week's rent) in 7 working days from receipt of the payment notice, after signing your Tenancy Agreement with the Landlord.<br />
4.If you are overseas and unable to sign the Tenancy Agreement, you may choose to pay the holding deposit (not exceeding 2 weeks' rent) in advance payable to 3FELLAS Stays Business Account.
</p>

<p>
<b>Moving In:</b><br>

5.Airport Pickup is an additional service & needs to be booked in advance. It is offered purely based on availability & 3FELLAS Stayz does not guarantee the availability of Cabs. Please enquire in advance to avoid any delays to your transportation.<br />
6.We provides furnished accommodation which includes Fridge, Toaster, Sandwich Maker, Dinner Set, Sofa, Washing Machine, Vacuum Cleaner, Iron & Board, Bed and Mattress. You are should bring any bedsheets, rugs, additional utensils or equipment based on your need.<br />
7.Once your application is approved, you will receive login credentials to raise Service Requests on https://3fellas.com.au<br />
8.Submit the Property Condition Report to 3FELLAS Stayz.
</p>

<p><b>Term</b><br>

9.The terms begin at 12:00 noon on your moving-in date and this shall be the anniversary date.<br />
10.The term is to run from week to week and the tenancy continues until the landlord or the tenant gives written notice to terminate.<br />
11.Common area is the area inside the apartment/ property leased to you that constitutes Laundry, Living Room, Kitchen and/ or any attached baloneys to it.<br />
12.Parking is NOT included in any of the 3Fellas STAYZ shared accommodation.
</p>

<p><b>Rent</b><br>

13.The tenant agrees to pay rent at a rate defined in the Tenancy Agreement in Australian dollars per week (the 'Rent').<br />
14.The 3Fellas STAYZ will provide the Tenant with rent receipts upon request.<br />
15.Rent is payable 2 weeks in advance from the lease start day.
</p>

<p><b>Deposit/ Bond</b><br>

16.The tenant agrees to pay 2 week's of rent for tenancy less than 3 months and 4 week's of rent otherwise, as designated in the Tenancy Agreement towards Fairtrade Bond. <br />
17.Bond money is kept with government entity 'Fairtrade Australia' until end of your tenancy. Depending upon your satisfactory cleaning & return of the premises to the 3Fellas STAYZ in same condition of given at start of lease, you may get full or part of bond money in return to your designated bank account provided.
</p>

<p><b>Rent increases</b><br>

18.The Rent is subject to allowable rent increases published each year by the local province. 
</p>


<p><b>General Use</b><br>

19. The Tenant and occupants may only use the Premises limited to themselves and may not use the Premises for commercial or business purposes.<br />
20. Only the Tenant and occupants named in the Lease may occupy the premises. Whilst we appreciate the tenants may have guests, since this is a shared environment, Tenant agrees to limit the invitations to justified number of guests. <br />
21. You can welcome guests, but they have to leave the house before 9pm the latest (same day) and a sleepover is strictly forbidden unless prior consent has been obtained from the 3Fellas STAYZ, and incurs a surcharge of 50 AUD/person/night.<br />
22. Offensive and bullying behaviour with other tenants or property will not be tolerated in any circumstances. Any justified complaint on such behaviour from your roommates/housemates will be considered as serious non-compliance with general rules and may result in terminating lease.<br />
23. You need to respect privacy of other tenants, as this shared accommodation. In case of any dispute, we encourage you to resolve by discussing with other house mates. For any abuse, discrimination, bullying or offensive gesture by your housemates compromising your privacy, please report immediately by sending an email to stayz@3fellas.com.au<br />
24. You are responsible if you are locked out and need to contact Locksmith to get you in. You further own the responsibility to ensure you have proper keys. <br />
25. You must keep all of your personal belongings in your room / cabinets. If you leave any personal belonging outside, we may consider as rubbish, and may be disposed without warning. Anything lost or stolen is your own risk and responsibility.<br />
26. If you see or know of other tenants breaking the general rules, you are responsible for report it immediately on stayz@3fellas.com.au<br />
27. It’s your responsibility to take out the rubbish bin on every Bin Day and to bring it back the following day.<br />
28. To pay attention on selective rubbish collection and use coloured bins according to instruction and to press all the recycling trash (plastic, paper, metal, cardboard) before disposal.<br />
29.It is your responsibility that Only pressed rubbish will be thrown away in the appropriate bins.To leave the kitchen cleans after cooking (kitchen bench, table, oven, cooktop wiped).<br />
It is your responsibility to ensure you and your neighbour’s safety and security by ensuring following before leaving the property: <br>
<ul>
<li>Ensuring turning off Gas/ Electric Burners after cooking</li>
<li>Turning off Electric Appliances viz. Iron, Air Conditioner, Heater, Laptop/ Electronic Devices Chargers, etc</li>
<li>Turning off Water Taps/ Showers</li>
<li>To wash all the dishes immediately after usage.</li>
<li>Not to leave fresh food for extended periods in the cupboards or on the fridge.</li>
<li>To use only the space in the cupboard / fridge as assigned to you. Any food / item which is stored in cabinet/shelf which is not assigned to your room, will be disposed without a warning.</li>
<li>To keep the fridge clean and dispose any spoiled food.</li>
<li>To use the kitchen between 10pm-6am only when it is necessary.</li>
<li>Plastic bags MUST NOT be collected. You have to place them to the bin.</li>
</ul>
30.To open the Bathroom window after having shower and make sure the shower curtain dries again to avoid mould.<br />
31.To mop the floor after having shower. To leave the shower, tub and toilet clean and hygienic behind after use. To wipe the tiles, clean the fugue, mirror, bathtub, basin and shower. <br />
32. Weekly cleaning will be provided when number of tenants reach to 4 until then cleaning will be provided fortnightly<br />
33. Weekly cleaning DOES NOT replace daily cleaning of common areas and bathrooms and toilets.
</p>


<p> <b>Notice to Tenant</b><br>

34.All notices shall be in writing and shall be given to the tenant by handing it directlyOr leaving it in the Tenant's mailbox Or where mail is ordinarily deliveredOr e-mailing on the designated e-mail address to the Tenant. If notices are mailed, the Tenant will be given an extra five calendar days for delivery.
</p>

<p><b>Notice to 3Fellas STAYZ</b><br>

35. All notices should be given to the 3Fellas STAYZ by E-mailing on stayz@3fellas.com.au Mail to 3FELLAS STAYZ, 35 Woodley Cres, Glendenning NSW 2761
Notice to terminate or renew at the end of the rental term<br />
36. A notice to terminate or renew the Tenancy Agreement/ Lease shall be given a minimum of 4 weeks prior to the last day of the lease. In case where lease agreement is 3 month or less notice period is 2 weeks.
</p>


<p><b>Furniture and appliances </b><br>

37.The following furniture and appliances in Brand New or Like New condition are included in the monthly rent:<br />
<ul>
<li>Bed</li>
<li>Mattress</li>
<li>Dining Table</li>
<li>Chairs</li>
<li>Sofa</li>
<li>Fridge</li>
<li>Microwave</li>
<li>Washing Machine</li>
<li>Iron/ Board</li>
<li>Sandwich Maker and Toaster</li>
<li>Dinner Set</li>
<li>Basic Kitchen Utensils</li>
</ul>

<b>*Subject to space constraints in the apartment</b>
</p>


<p><b>Utilities </b><br>

38. The Tenant agrees to pay the utility (Gas/ Electricity/Internet) bills as per the Tenancy Agreement. <br />
39. Any extra appliances brought by Tenants (Heater, Air-Conditioner, Air-Cooler, TV, Music System, etc.) will incur a surcharge of 10 AUD/ appliance/ week. 3Fellas Stayz reserves right to increase utility bill amount with 1 week of notice.
</p>


<p><b>Inspection of Premises prior to occupancy</b><br>

40. The 3Fellas STAYZ agrees to have the Premises professionally cleaned prior to occupancy by the Tenant. <br />
41. The Tenant agrees to undertake an inspection and verify & provide the duly filled in Property Condition Report within 7 working days from occupation of property.

<p><b>Condition of Premises at the end of the Lease </b><br>

42.At the end of the term, the Tenant agrees to leave the premises clean and in good condition, with the exception of ordinary wear and tear. 
Floor needs to be vacuumed/mopped (as applicable)
Furniture has to be dusted. Wipe them inside and outside with a wet rag or wipes, and use a multipurpose cleaner liquid.
You must not leave any rubbish or personal items in the room or in the communal areas. We are NOT responsible for any personal items after you left your house.
You must take out all your food from the fridge and your cupboard in the kitchen.
Wipe out your shelfs in the cupboard, and in the fridge with a wet rag or wipes, and use multipurpose cleaner liquid.
The keys must be left inside the room.<br />
43.3FELLAS Stayz Team will inspect your premises after you moved out in 72 hours. If you followed the above points, and if everything is fine, we will send your remaining bond back completely.<br />
44.On the contrary, if you have skipped some steps, we can deduct from your bond.
</p>

<p><b>Insurance </b><br>

45.The Tenant understands and accepts the Landlord's building insurance does not provide coverage for the Tenant's personal belongings and contents. <br />
46.The Tenant is responsible for purchasing content's insurance if Tenant feels there's a need to do so.
</p>


<p><b>Tenant's duty to maintain the Premises </b><br>

47. The Tenant shall, at the Tenant’s expense, maintain the premises in a clean and sanitary condition at all times, comply with the obligations under the Tenant Protection Act and the governing by-law.<br />
48. The Tenant is responsible for changing light bulbs and unplugging toilets and sinks. If a contractor is called to repair any of the above, the tenant is responsible for the cost.
Alterations <br />

49. No substantial alterations, additions, or improvements shall be made by the tenant in or to the dwelling unit without the written permission of the 3Fellas STAYZ. The Tenant must obtain the 3Fellas STAYZ’s prior written consent.<br />
50. The Tenant must obtain the 3Fellas STAYZ’s prior written consent to paint or wallpaper the Premises or to install any panelling, flooring, partitions, and railings or make any other alterations. <br />
51. The tenant must not alter the plumbing, ventilation, air conditioning, heating, furnace, or electric system. <br />
52. All the alterations, installations, and improvements shall become the property of the 3Fellas STAYZ when completed and paid for, and shall be surrendered as part of the leased premises at the end of the term. 
</p>

<p><b>Repairs </b><br>

53. The Tenant agrees to take good care of the Premises and all equipment and fixtures contained therein. The tenant is responsible and liable for all repairs, replacement, and damages caused by or required as a result of any acts or neglect of said Tenants, Occupants, or Guests. <br />
54. The Tenant agrees to complete all repairs before vacating the Premises. <br />
55. In the event that the Tenant does damage the Premises and does not repair it within a reasonable timeframe, the 3Fellas STAYZ has the right to enter the Premises in order to complete the necessary repairs on the Tenant’s behalf and charge it to the Tenant.
</p>

<p><b>Response Times </b><br>

1.For any health and safety emergency case, please DO NOT wait and CALL 000 IMMEDIATELY.<br />
2.Tenant agrees that the service request will be raised online on https://stayz.3fellas.com.au for any issue pertaining to the property and the Landlord will follow-up with Property Owner accordingly.

<ul>
<li>Urgent cases:
<ul>
    <li>Serious electricity problems in the house</li>
    <li>Hot/cold water issues</li>
    <li>Gas issues</li>
    <li>Dangerous cases like dangerous behaviour of the tenants</li>
    <li>Fire</li>
    <li>Lockout</li>
</ul>
</li>
<li>Not so urgent cases (2 working days report time):
<ul>
<li>Internet connection issues</li>
<li>Minor electricity issues (like broken bedside lamp)</li>
<li>Furniture issues (broken furniture, new/extra furniture requests)</li>
</ul>
</li>

</ul>

3.The Tenant agrees that, some issues can belong to third party provider (like internet provider, electricity provider etc.) and the Landlord can't fix the issue from his side and the Landlord cannot take responsibility for the response time of third party providers in case of utilities emergency.
</p>

<p><b>Access to the property </b><br>

56. For periodic inspections, the tenant agrees that the 3Fellas STAYZ may enter the Premises in accordance with notice given to the Tenant at least 24 hours before the time of entry to inspect the Premises and show the Premises to potential parties e.g. prospected tenants. <br />
57. The Tenant agrees that the 3Fellas STAYZ may enter the Premises without written notice in case of emergency.<br />
58. The Tenant agrees that cleaner may enter for scheduled cleaning even Tenant is not at the premises. Cleaner can enter property using 3Fellas STAYZ’s key in the absence of Tenant.
Assignment of leased premises <br />
59. If the Tenant asks the 3Fellas STAYZ to consent to an assignment of the Premises, the 3Fellas STAYZ may consent or refuse to consent. If the Tenant assigns the Premise to another person, this Lease continues to apply on the same terms and conditions and the assignee is liable to the 3Fellas STAYZ for any breach of the Tenancy Agreement, Terms & Conditions mentioned herewith.
Changing or altering locks <br />
60. The tenant shall not alter the locking system on a door giving entry to the Premises or complex or cause the locking system to be altered without written consent of the 3Fellas STAYZ. <br />
61. In the event that the 3Fellas STAYZ gives the Tenant written consent, the Tenant agrees to provide the 3Fellas STAYZ with replacement keys within 24 hours of such changes and/or alterations of the locking system.<br />

<p><b>Noise </b> <br>
62. The Tenant agrees not to emit excessive noise or engage in any other activity that disturbs the reasonable enjoyment, peace, and quiet of neighbours. 
Tenant's activities<br />
63. The tenant agrees not to do anything upon the rented premises in contravention of any statutes, acts, by-laws, and regulations, the Tenant Protection Act or any federal, provincial, municipal or other laws.
</p>

<p><b>Pets and smoking</b><br>
64. The Tenant acknowledges that no pets are allowed in the premises and that the apartment is a non-smoking environment. Smoking on premises can be a cause of serious fire hazard, breaching of non-smoking clause can lead to lease termination. 
</p>

<p><b>Abandonment</b><br>
65. If the Tenant abandons or vacates the Premises during the term of this Lease, the 3Fellas STAYZ may elect to file the appropriate application against the Tenant, with the Fairtrade Australia to regain possession & recover any financial dues/ damages accordingly.
</p>

<p><b>The Prestige Accommodation reserves the right to change these Terms & Conditions.</b></p>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="enquiryfrm" role="dialog">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title">Nearly there ! <br> Just few more details...</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
       <div class="modal-body" >
          <iframe src="enquiryn.html" width="100%" height="700px" frameborder="0" allowtransparency="true"></iframe>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
  <script src="{{ asset('web_assets/web/assets/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('web_assets/popper/popper.min.js') }}"></script>
  <script src="{{ asset('web_assets/tether/tether.min.js') }}"></script>
  <script src="{{ asset('web_assets/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('web_assets/dropdown/js/script.min.js') }}"></script>
  <script src="{{ asset('web_assets/ytplayer/jquery.mb.ytplayer.min.js') }}"></script>
  <script src="{{ asset('web_assets/vimeoplayer/jquery.mb.vimeo_player.js') }}"></script>
  <script src="{{ asset('web_assets/smoothscroll/smooth-scroll.js') }}"></script>
  <script src="{{ asset('web_assets/touchswipe/jquery.touch-swipe.min.js') }}"></script>
  <script src="{{ asset('web_assets/theme/js/script.js') }}"></script>
  <script src="{{ asset('web_assets/formoid/formoid.min.js') }}"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="{{ asset('web_assets/dropdown/js/footer_js.js') }}"></script>
  <script>
  $(window).scroll(function(event) {
  function footer() {
      var scroll = $(window).scrollTop();
      if (scroll > 50) {
          $(".footer-nav").fadeIn("slow").addClass("show");
      }
      else {
          $(".footer-nav").fadeOut("slow").removeClass("show");
      }

      clearTimeout($.data(this, 'scrollTimer'));
      $.data(this, 'scrollTimer', setTimeout(function () {
          if ($('.footer-nav').is(':hover')) {
              footer();
          }
          else {
              $(".footer-nav").fadeOut("slow");
          }
      }, 2000));
  }
  footer();
});

</script>

{% if extra_js !='' %}
<script src="{{ asset("#{extra_js}" ) }}"></script>
	{% endif %}</body>
</html>