<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
   <title>{{ title }} | Prestige Accommodation</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu|Fjalla+One|Russo+One|Yanone+Kaffeesatz" rel="stylesheet"> 
  <link rel="stylesheet" href="{{ asset('web_assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css') }}   ">
  <link rel="stylesheet" href="{{ asset('web_assets/web/assets/mobirise-icons/mobirise-icons.css') }}" >
  <link rel="stylesheet" href="{{ asset('web_assets/tether/tether.min.css') }}">
  <link rel="stylesheet" href="{{ asset('web_assets/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('web_assets/bootstrap/css/bootstrap-grid.min.css') }}">
  <link rel="stylesheet" href="{{ asset('web_assets/bootstrap/css/bootstrap-reboot.min.css') }}">
  <link rel="stylesheet" href="{{ asset('web_assets/dropdown/css/style.css') }}">
  <link rel="stylesheet" href="{{ asset('web_assets/socicon/css/styles.css') }}">
  <link rel="stylesheet" href="{{ asset('web_assets/theme/css/style.css') }}">
  <link rel="stylesheet" href="{{ asset('web_assets/3fellas/css/mbr-additional.css') }}">
  <link rel="stylesheet" href="{{ asset('web_assets/dropdown/css/style_footer.css') }}">
  <link rel="stylesheet" href="{{ asset('web_assets/3fellas/css/vertical.news.sliderc619.css?v=1.0') }}">
  {% if extra_css !='' %}
	<link rel="stylesheet" type="text/css" href="{{ asset("#{extra_css}" ) }}">
	{% endif %}	

</head>