{% include 'admin/header.html.twig' with {'title': 'Dashboard','extra_css':''}  %}
<body>
 <body>
<div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
        {% include 'default/inner_header.html.twig' %}
		     <!-- Sidebar inner chat start-->
                   
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        {% include 'default/sidebar.html.twig' %}
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                       <div class="row" style="display:none;">
                                     		  
                                       
                                   		       <div class="col-xl-3 col-md-6">
                                                <div class="card bg-c-green text-white">
                                                    <div class="card-block">
                                                        <div class="row align-items-center">
                                                            <div class="col">
                                                                <p class="m-b-5">Enquiries</p>
                                                                <h4 class="m-b-0"></h4>
                                                            </div>
                                                             <a href="{{ url('admin_view_enquiries') }}">
                                                            <div class="col col-auto text-right">
                                                                <i class="feather icon-credit-card f-50 text-c-green"></i>
                                                            </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                               <div class="col-xl-3 col-md-6">
                                                <div class="card bg-c-pink text-white">
                                                
                                                    <div class="card-block">
                                                        <div class="row align-items-center">
                                                            <div class="col">
                                                                <p class="m-b-5">Services</p>
                                                                <h4 class="m-b-0"></h4>
                                                            </div>
                                                            <a href="{{ url('view_services') }}">
                                                            <div class="col col-auto text-right">
                                                            
                                                                <i class="feather icon-book f-50 text-c-pink"></i>
                                                              
                                                        </div>
                                                          </a>
                                                            </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            
                                               <div class="col-xl-3 col-md-6">
                                                <div class="card bg-c-blue text-white">
                                                    <div class="card-block">
                                                        <div class="row align-items-center">
                                                            <div class="col">
                                                                <p class="m-b-5">Property</p>
                                                                <h4 class="m-b-0"></h4>
                                                            </div>
                                                            <a href="{{ url('view_property') }}">
                                                            <div class="col col-auto text-right">
                                                                <i class="feather icon-shopping-cart f-50 text-c-blue"></i>
                                                            </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                       </div> 
                                        
                                       
                                        
                                         
                                    </div>
                                </div>

                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
           
        </div>
    </div>
 <script type="text/javascript" src="{{ asset('assets/admin/bower_components/jquery/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/bower_components/jquery-ui/js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/bower_components/popper.js/js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/bower_components/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{{ asset('assets/admin/bower_components/jquery-slimscroll/js/jquery.slimscroll.js') }}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{{ asset('assets/admin/bower_components/modernizr/js/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/bower_components/modernizr/js/css-scrollbars.js') }}"></script>
    <!-- Custom js -->
    <script src="{{ asset('assets/admin/js/pcoded.min.js') }}"></script>
    <script src="{{ asset('assets/admin/js/vartical-layout.min.js') }}"></script>
    <script src="{{ asset('assets/admin/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
 
    <script type="text/javascript" src="{{ asset('assets/admin/js/script.js') }}"></script>

</body>
</html> 