{% include 'header.html.twig' with {'title': 'Welcome','extra_css':''}  %}
<body style="font-family: 'Yanone Kaffeesatz', sans-serif;">

{% include 'default/top_header.html.twig'%}

    <div class="container align-center">
        <div class="row justify-content-md-center" >
            <div class="mbr-white col-md-10">
<br><br>
             <!--   <h1 style="color: white;" class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-3">
                    Welcome to your Home away from Home</h1> -->
                <div style="background: rgba(128,128,128,0.5);display:inline-block; border-radius: 10px;margin:0.4em;padding: 0.3em 0.3em 0.3em 0.3em;"><span style="color: white;" class=" display-3">
               <b> Welcome to your Home away from Home!</b></span></div>
<div style="background: rgba(128,128,128,0.5);display:inline-block; border-radius: 10px;margin:0.4em;padding: 0.3em 0.3em 0.3em 0.3em;"><span style="color: white;" class=" display-5">
               <i>"Rest Assured": Land in your preferred abode!</i></span></div>
               <!-- <p class="mbr-text pb-3 mbr-fonts-style display-3">
                <strong style="color: white;">Be rest assured to land in your preferred abode </strong></p> -->
<div style="background: rgba(128,128,128,0.5);display:inline-block; border-radius: 10px;margin:0.4em;padding: 0.3em 0.3em 0.3em 0.3em;"><span style="color: white;" class=" display-5">
                <i>3FELLAS Stayz guarantees quality you can trust!</i></span></div>
              <!-- <p class="mbr-text pb-3 mbr-fonts-style display-3"> <strong style="color: white;">3fellas Stayz Gurantees the quality that you trust</strong></p>  -->
               <!-- <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="index.html#header12-p">GET STARTED</a></div> -->
            </div>
        </div>
    </div>
    <!--<div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
</section>
<section class=" mbr-fullscreen-cnt" id="section05">

    <div class="mbr-overlay" style="opacity: 1; background: white;">
   
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
      <div style="text-align:center;color: green; font-size:xx-large;font-weight:bolder; " >We at 3FELLAS Stayz strive to provide quality accommodation in Australia at an affordable price.</div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>
<section class=" mbr-fullscreen-cnt" id="section2">

    <div class="mbr-overlay" style="opacity: 1; background: gold;">
   
    </div>

    <div class="container  ">
    
      <!--   <div class="media-container">
                <div class="col-md-12 align-center">
                    <h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-1">We've got what all you need!</h1>
                    <p class="mbr-text pb-3 mbr-white mbr-fonts-style display-5">
                        All you need to choose your package and relax</p>
                    <div class="mbr-section-btn align-center py-2"><a class="btn btn-md btn-secondary display-4" href="#">MORE</a></div>

                    <div class="icons-media-container mbr-white">
                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                            <a href="#">
                                <span class="mbr-iconfont mbrib-protect"></span>
                            </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">Quality</h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                                <a href="#">
                                    <span class="mbr-iconfont mbrib-home"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">
                                Affordable Units</h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                                <a href="#">
                                    <span class="mbr-iconfont mbrib-success"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">Convenience</h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                                <a href="#">
                                    <span class="mbr-iconfont mbrib-rocket"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">Airport Pickup</h5>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="media-container-row">
            
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
             <h3 style="font-family: 'Russo One', sans-serif;">LATEST NEWS</h3>
             </div>
             </div>
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-4 boxm">
            <div class="card-wrapper" >
                    <div class="card-img">
                        <img src="{{ asset('web_assets/images/01.jpg') }}" class="img-thumbnail img-responsive" alt="3fellas">
                    </div>
                    <div class="card-box">
                       <p class="mbr-text mbr-fonts-style display-7" style="text-align:justify;font-family: 'Fjalla One', sans-serif;;font-weight:400;text-transform:uppercase;line-height:2;"> <br /> Welcome aboard luxury living in the heart of Parramatta CBD. An ever-happening place within 100 metres of Westfield and the train station.  </p>
                    </div>
					<!--
                    <div class="mbr-section-btn "><a href="#" class="btn btn-info display-4">
                            More Details  &nbsp;<span class="mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>
                        </a></div> -->
                </div>
      
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4 boxm">
            <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ asset('web_assets/images/02.jpg') }}" class="img-thumbnail img-responsive" alt="3fellas">
                    </div>
                    <div class="card-box">
                        
                        <p class="mbr-text mbr-fonts-style display-7" style="text-align:justify;font-family: 'Fjalla One', sans-serif;font-weight:400;text-transform:uppercase;line-height:2;"> <br /> Our BRAND NEW boutique residential-complex offering in an established part of Wentworthville. Quiet cul-de-sac location, but within 100 metres of the train station, and a quick stroll to shopping & restaurants.</p>
                    </div>
                    <!--<div class="mbr-section-btn "><a href="#" class="btn btn-info display-4">
                            More Details &nbsp;<span class="mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>
                        </a></div> -->
                </div>
      
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4 boxm">
            <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ asset('web_assets/images/03.jpg') }}" class="img-thumbnail img-responsive" alt="3fellas">
                    </div>
                    <div class="card-box">
                        
                        <p class="mbr-text mbr-fonts-style display-4" style="text-align:justify;font-family: 'Fjalla One', sans-serif;font-weight:400;text-transform:uppercase;line-height:2;"> <br /> RACEVIEW is waiting for YOU! <br> Stylishly-designed and modern, this exquisite high-storey security apartment is your perfect choice. Conveniently located on the fringe of Parramatta City CBD, and just a two-minute walk to the Rosehill shopping district and train station. Presented in brand-new condition with bright and breezy interiors, this apartment will make an ideal home for you.
</p>
                    </div>
                    <!-- <div class="mbr-section-btn "><a href="#" class="btn btn-info display-4">
                            More Details &nbsp;<span class="mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>
                        </a></div> -->
                </div>
      
            </div>
            
               <!-- <div class="card p-3 col-12 col-md-6 col-lg-6">
                   
                    dfd
                </div>  -->
            </div>
    </div>

   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
</section>

<section class=" mbr-fullscreen-cnt" id="section3">

    <div class="mbr-overlay" style="opacity: 1; background:white; color:black;">
  
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-6">
            <h3 style="font-family: 'Russo One', sans-serif; color:green;">ANNOUNCEMENTS</h3>
                <div class="span6">

    <div class="latest-news">
        <ul class="news-list">
                <li> <div class="announce"> <img src="assets/images/right.png" width="10%" height="10%"/> &nbsp;  <a href='Promotion9f90.html' >Current Promotions</a> </div>
                    <!-- <div class="news-date">
					
                      <!--  <div class="date">03</div>
                        <div class="month">Apr</div>
						
                    </div>
                    <div class="news-link">
<a href='#' >Current Offers</a>                    </div>-->
                </li> 
                <li>
                   <!-- <div class="news-date">
                        <div class="date">26</div>
                        <div class="month">Mar</div>
                    </div>
                    <div class="news-link"> -->
					<div class="announce"> <img src="{{ asset('web_assets//images/right.png') }}" width="10%" height="10%"/> &nbsp;  <a target="_Blank" href="https://tawk.to/chat/5abb93d6d7591465c708fd46/default/?$_tawk_popout=true&amp;$_tawk_sk=5acad99e7129b6b82bd987dc&amp;$_tawk_tk=5e803c30a192bb0648b4515f4e0c6bb9&amp;v=573" >Live Person - Connect to Live Chat</a>                    </div>

                </li>
                <li>
                   <!-- <div class="news-date">
                        <div class="date">25</div>
                        <div class="month">Mar</div>
                    </div>
                    <div class="news-link">-->
					<div class="announce"> <img src="{{ asset('web_assets/images/right.png') }}" width="10%" height="10%"/> &nbsp;  <a href='#' >Amendment of Terms & Conditions </a> </div>

                </li>
            
        </ul>
    </div>

        </div>
                

            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-6">
            
            <h3 style="font-family: 'Russo One', sans-serif; color:green;">HOW PRESTIGE ACCOMMODATION WORKS</h3>
           <p style="font-size:large; line-height:2; font-family:Fjalla One; text-align:justify;">At Prestige Accommodation, we take immense pride in what we do. You are the reason our company exists and hence you are not just an outsider to us. Whether you are in the process of relocating to Sydney, or on a short-term job assignment, or extended training, or for a short trip we understand that finding the perfect temporary home is critical. We also understand that each our guests has unique choices and requirements, and regardless of the length of your stay, we promise to make your experience the best it can be. </p>

            </div>
            
            </div>
    </div>

  
</section>

<section class=" mbr-fullscreen-cnt" id="section2">

    <div class="mbr-overlay" style="opacity: 1; background: gold;">
   
    </div>

    <div class="container  ">
    
     
            <div class="media-container-row">
            
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
             <h3 style="font-family: 'Russo One', sans-serif; color:green; text-align:center;">WHAT OUR CUSTOMERS ARE SAYING</h3>
			 
			 <div id="testimonials" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#testimonials" data-slide-to="0" class="active"></li>
    <li data-target="#testimonials" data-slide-to="1"></li>
    <li data-target="#testimonials" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" >
    
    <div class="carousel-item active" >
	 <center><div class="card p-3 col-12 col-md-6 col-lg-8 ">
     <img src="{{ asset('web_assets/images/star.png') }}" alt="star" style="height: 1.4rem;width: 6.4rem;">
<p class="mbr-text mbr-fonts-style display-0" style="text-align:justify;font-family: 'Fjalla One', sans-serif;;font-weight:400;line-height:2;font-size:large;"> <br /> Comfertable rooms. All of the extras are here. The tiffin service is a major convenience-very nice! My stay exceeded my expectations... <br> <i>- Mr. Vishwanath, Sydney, Australia</i> </p>
    </div></center>
	</div>
    <div class="carousel-item " >
	 <center><div class="card p-3 col-12 col-md-6 col-lg-8 ">
     <img src="{{ asset('web_assets/images/star.png') }}" alt="star" style="height: 1.4rem;width: 6.4rem;">
                        <p class="mbr-text mbr-fonts-style display-0" style="text-align:justify;font-family: 'Fjalla One', sans-serif;font-weight:400;line-height:2;font-size:large;"> <br /> Exceeded expectations - nice rooms, clean, quiet and convenient to CBD<br> <i>- Mr. Rajesh Sharma, India</i></p>
    </div></center>
	</div>

	
    <div class="carousel-item"  >
    <center><div class="card p-3 col-12 col-md-6 col-lg-8 ">
    <img src="{{ asset('web_assets/images/star.png') }}" alt="star" style="height: 1.4rem;width: 6.4rem;">
                        <p class="mbr-text mbr-fonts-style display-0" style="text-align:justify;font-family: 'Fjalla One', sans-serif;font-weight:400;line-height:2;font-size:large;"> <br /> Accommodation Location was perfect! We walked everywhere, shared unit with my sister and we couldn't have been happier with the room and fully equipped kitchen. <br> <i>- Mr. Abhijeet, India</i></p>
    </div></center>
    </div>
  </div>
  <a class="carousel-control-prev" href="#testimonials" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#testimonials" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
			 
             </div>
             </div>
       
    </div>

  
</section>
<div>
<section class=" mbr-fullscreen-cnt"  id="Enquiry">

    <div class="mbr-overlay" style="opacity: 1; background: gray;">
   
    </div>

    <div class="container  ">
      <div class="media-container-row">
            
            <div class="card p-3 col-12 col-md-6 col-lg-12">
              <h3 style="font-family: 'Russo One', sans-serif; color:white;">Nearly there! Just complete the form below and relax! </h3>
             </div>
             </div>
            
            <div class="media-container-row">
             
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            <div >
    <form name="ctl01" method="post" action="https://stays.3fellas.com.au/enquiryn.aspx" onSubmit="javascript:return WebForm_OnSubmit();" id="ctl01">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__LASTFOCUS" id="__LASTFOCUS" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTg0NDM2MTMwOA9kFgICBA9kFgICAw9kFgJmD2QWAgIdDxBkZBYBZmQYAQUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgEFBEREcGHMQuqSK+diXMyy/4nrs11V/0Vh8Q==" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['ctl01'];
if (!theForm) {
    theForm = document.ctl01;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="WebResourcebc95.js?d=qgG5OWh70uWZmpRuOlhAW94ntMk4ntrg5Yu22D55SOGy9szAPgdbbiTiLk38ETJau3MNFngyZ6VVjuOUefnPUKtYRB81&amp;t=636040172080000000" type="text/javascript"></script>


<script src="ScriptResourcec8e0.js?d=HNlZMfWfrHLcFBFIeMqdi9TNZOaKos99ddjtfxSg9UkWY9QW2pbyP1bdvaFRF__H6P1mNZwlFLmojA58dC9771t8KMolhgVOuLTnHcXnPMAZPE2cNYCYQYVFqqwdxSknOhNZ4Jr0b1-E4_R4ip6KOsIQR301&amp;t=7fa214bb" type="text/javascript"></script>
<script src="ScriptResource276d.js?d=UFKfHx97EMYfA6bU7DaCda3W0-q8ew60-oxPWPiBqpxhZmDZt1lICFHc8D-YBHZg9uGhehrpoZpb6g2lVAOUw6chMJjIydQ7o80noAOHHpyBYa4DOPcvZd7zRA9J25eTiiaxVXFFe4pJiRzPTYITc_1we9OKMJshVZ9Vl0X8Nw8OlSVt0&amp;t=3f4a792d" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
//]]>
</script>

<script src="ScriptResourcee88a.js?d=tP_ajwwvn9HSGgAihbP_18OCVUWXHlPBuwRWWLBIM0e47E5lXQ24G7N5Nyb3rXoHX391WagFZFvrNUsVgGxmnUYh4czpp7XAFE2EJndzNgcHsaZH0C19WuyvBANPo6NUWDTCKW3UPV02QXDNdpB55PI_vu0NLe5XHGy52_2v30IFJ7610&amp;t=3f4a792d" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="7A9C7BFE" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWRAKPl/bUCgL41s6MBgKwjomeDAL9rIfRDQLC77bvDAKrwbv9DgLQkKOKCwLEmZyZCQKw5uWYDAL85dX6BwLS4eP/BAKyzYKDDQKc+7qaCQKDlsHkBwKDlsHkBwLQiJCoAwKT/rnRBgLOpprIAwKWr6n2CwKX///+DQLbn7KmBQL0gfb7DwLEhNWhBALJ+OOzDQKHivXQBQKEn6OeBAKw2++MBAKGzoOOBgLChYaTDgKF7tnZCQKJuaowAtes8j0C18q15wwC37XKpAkCqb3pwgQCiqudxgICiYCvgQICnbzG5woCtPrM3A8CwPu3rgkCwsvk/gcCoKTKkQsC9dPj5wMC5I/LpQUCxpLViQoChuDlygkCza/uLALTxsvpCQKjgvLeDQKBoeO6AgKDnKOPCwKzhIejCgKGstbmCQLlruOaCQL5o7fBCgL6o6/4CgLco7vBCgK+o7fBCgKWm9m6CgKZ9PPUBgKY9PPUBgKb9PPUBgKa9PPUBgKd9OfXBgLY7Y3tBQK7/aLmBQLvmdG9BQKW+uaKDUG+ZWIf9csiDmfIgkpxoumH6z/U" />
</div>
     
    <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('MainScriptManager', document.getElementById('ctl01'));
Sys.WebForms.PageRequestManager.getInstance()._updateControls(['tpnlfrm'], [], [], 90);
//]]>
</script>

        <div id="pnlfrm">
	
               <script src="../cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
			<script src="../cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
           <script type="text/javascript">
               Sys.WebForms.PageRequestManager.getInstance().add_pageLoaded(function (evt, args) {
                   $(function () {
                       $('#reqfrm').keydown(function () {
                           //code to not allow any changes to be made to input field
                           return false;
                       });
                       $('#reqfrm').datetimepicker({
                           viewMode: 'years',
                           format: 'DD/MM/YYYY',
                           showClose: true

                       });
                   });
               });
</script>
  <section style="margin-top:10px;">
       
       <div class="container"  >
          <!-- <center><img src="assets/images/3fellas-214x95.png"/></center> -->
            <!-- <center><b><h3 style="color:White;background-color:ThreeDDarkShadow;">Nearly there ! Just few more details...</h3></b></center> -->
          
          
           
           <div class="form-row">
              
              <div class="form-group col-md-6">
                   <div class="col-md-12">
                      <label for="DDacco">Shared Accommodation Type<span id="RequiredFieldValidator5" style="color:Red;visibility:hidden;">*</span></label>
                      <select name="DDacco" id="DDacco" class="form-control" name="DDacco">
		<option value=""></option>
		<option value="Private Room">Private Room</option>
		<option value="Twin Shared Room">Twin Shared Room</option>

	</select>
                   </div>
                     

                  <div class="col-md-12">
                      <label for="nm">Name<span id="RequiredFieldValidator1" style="color:Red;visibility:hidden;">*</span></label>
                      <input name="nm" type="text" id="nm" class="form-control" name="nm" />
                   </div>
                      <div class="col-md-12">
                     <label for="DD_are_you">Are you?<span id="RequiredFieldVdalidator8s" style="color:Red;visibility:hidden;">*</span></label>
                     <select name="DD_are_you" id="DD_are_you" class="form-control" name="DD_are_you">
		<option value=""></option>
		<option value="Student">Student</option>
		<option value="Working Professional">Working Professional</option>
		<option value="New Migrant">New Migrant</option>
		<option value="Other">Other</option>

	</select>
                     

                 </div>
                <div class="col-md-12">
                     <label for="contact">Contact Number<span id="RequiredFieldValidator2" style="color:Red;visibility:hidden;">*</span></label>
                     <input name="contact" type="text" id="contact" class="form-control" name="contact" />
                     
                 </div>
                  
                <!--<div class="col-md-12">
                    <label for="address">Address for Communication</label>
                    <textarea type="text" name="widget-contact-form-message" rows="5" class="form-control required" placeholder="Enter your full address" name="address" id="address"></textarea>
                </div> -->
                 <div class="col-md-12">
                     <label for="email">Email Address<span id="RequiredFieldValidator3" style="color:Red;display:none;">*</span>
                     <span id="RegularExpressionValidator1" style="color:Red;display:none;">*</span></label>
                      <input name="email1" type="text" id="email1" class="form-control" name="email1" />
                     
                 </div>
                 <div class="col-md-12">
                     <label for="reqfrm">Required From<span id="RequiredFieldValidator7" style="color:Red;visibility:hidden;">*</span></label>
                   <div align="center">
                <div class='input-group date' style="color:Black;" id='reqfrm'>
                <input name="txtdt" type="text" id="txtdt" class="form-control" name="nm" />
                  <!--  <input type='text' class="form-control" /> -->
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                </div>
            <script type="text/javascript">
                $(function () {


                    $('#reqfrm').keydown(function () {
                        //code to not allow any changes to be made to input field
                        return false;
                    });


                    $('#reqfrm').datetimepicker({
                        viewMode: 'years',
                        format: 'DD/MM/YYYY',
                        showClose: true

                    });
                });
        </script>
                    
                 </div>
                 <div class="col-md-12">
                     <label for="DDscf">Single/ Couple/ Family<span id="RequiredFieldValidator9" style="color:Red;visibility:hidden;">*</span></label>
                     <select name="DDscf" onchange="javascript:setTimeout('__doPostBack(\'DDscf\',\'\')', 0)" id="DDscf" class="form-control" name="DDscf">
		<option selected="selected" value=""></option>
		<option value="Single">Single</option>
		<option value="Couple">Couple</option>
		<option value="Family">Family</option>

	</select>
                    
                 </div>
                 <div class="col-md-12">
                     <label for="DDgender">Gender<span id="RequiredFieldValidator4" style="color:Red;visibility:hidden;">*</span></label>
                     <select name="DDgender" id="DDgender" class="form-control" name="gender">
		<option value=""></option>
		<option value="Male">Male</option>
		<option value="Female">Female</option>

	</select>
                    
                 </div>
                 
                 <div class="col-md-12">
                     <label for="DDpa">Preferred Area<span id="RequiredFieldValidator6" style="color:Red;visibility:hidden;">*</span></label>
                      <select size="4" name="DDpa" multiple="multiple" id="DDpa" class="form-control" name="DDpa">
		<option value="Ashfield">Ashfield</option>
		<option value="Blacktown">Blacktown</option>
		<option value="Burwood">Burwood</option>
		<option value="Chatswood">Chatswood</option>
		<option value="Harris Park">Harris Park</option>
		<option value="Homebush">Homebush</option>
		<option value="Hornby">Hornby</option>
		<option value="Liverpool">Liverpool</option>
		<option value="Macquire Park">Macquire Park</option>
		<option value="Parramatta">Parramatta</option>
		<option value="Redfern">Redfern</option>
		<option value="Rosehill">Rosehill</option>
		<option value="St Leonards">St Leonards</option>
		<option value="Strathfield">Strathfield</option>
		<option value="Sydney CBD">Sydney CBD</option>
		<option value="Vaitara">Vaitara</option>
		<option value="Wentworthville">Wentworthville</option>
		<option value="Westmead">Westmead</option>
		<option value="Wollongong">Wollongong</option>

	</select>
                   
                 </div>
                 
               
                 
              </div>
              
              <div class="form-group col-md-6">
                 <!-- <h4 class="styleh4 centerme" style="text-decoration: underline;"> Details</h4>-->
                 <div class="col-md-12">
                     <label for="DDsbath">Are you willing to share bathroom?<span id="RequiredFieldValidator8" style="color:Red;visibility:hidden;">*</span></label>
                     <select name="DDsbath" id="DDsbath" title="This may significantly reduce costing" class="form-control" name="DDsbath">
		<option value=""></option>
		<option value="No">No</option>
		<option value="I am OK">I am OK</option>

	</select>
                    
                 </div>
                 
                  <div class="col-md-12">
                     <label for="DDsbroom">Are you willing to share bedroom?<span id="RequiredFieldValidator10" style="color:Red;visibility:hidden;">*</span></label>
                     <select name="DDsbroom" id="DDsbroom" class="form-control" name="DDsbroom">
		<option value=""></option>
		<option value="Yes">Yes</option>
		<option value="No">No</option>

	</select>
                    
                 </div>
                   <div class="col-md-12">
                     <label for="DDExpRang">Expected Stay (In Weeks)<span id="RequiredFieldValidator11" style="color:Red;visibility:hidden;">*</span></label>
                     <select name="DDExpRang" id="DDExpRang" class="form-control" name="DDExpRang">
		<option value=""></option>
		<option value="02 to 12">02 to 12</option>
		<option value="12 to 26">12 to 26</option>
		<option value="26 to 52">26 to 52</option>
		<option value="52+">52+</option>

	</select>
                    
                 </div>
                  <div class="col-md-12">
                     <label for="DDBudget">Budget Range (In $)<span id="RequiredFieldValidator12" style="color:Red;visibility:hidden;">*</span></label>
                     <select name="DDBudget" id="DDBudget" class="form-control" name="DDBudget">
		<option value=""></option>
		<option value="150-175">150-175</option>
		<option value="175-200">175-200</option>
		<option value="200-250">200-250</option>
		<option value="250-300">250-300</option>
		<option value="300-400">300-400</option>
		<option value="400-550">400-550</option>

	</select>
                    
                 </div>
                  <div class="col-md-12">
                     <label for="DDnop">Number Of People<span id="RequiredFieldValidator13" style="color:Red;visibility:hidden;">*</span></label>
                     <select name="DDnop" id="DDnop" class="form-control" name="DDnop">
		<option value=""></option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5+">5+</option>

	</select>
                    
                 </div>
                 
                 <div class="col-md-12">
                     <label for="txtwhabt">Where did you hear about us?<span id="RequiredFieldValidator14" style="color:Red;visibility:hidden;">*</span></label>
                      <textarea name="txtwhabt" rows="2" cols="20" id="txtwhabt" class="form-control" name="txtwhabt"></textarea>
                     
                 </div>


                 
                 <div class="col-md-12">
                     <label for="ocomm">Additional Requirement / Comment</label>
                      <textarea name="ocomm" rows="2" cols="20" id="ocomm" class="form-control" name="ocomm"></textarea>
                     
                 </div>

                
                  <div class="col-md-12">
                 
       

 </div>
                 <div class="col-md-12 ">
                <label for="sub"><center><span id="lbl_error" style="color:#FF3300;"></span></center> </label>
               <input type="submit" name="clickme" value="Submit Enquiry Form" onClick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;clickme&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="clickme" class="btn btn-primary form-control " />
               
               </div>
              </div>
               
              
               
               <div id="ValidationSummary1" style="color:Red;display:none;">

	</div>
           </div>
           
           
           
       </div>
         
</section>
 
</div>
                    
<script type="text/javascript">
//<![CDATA[
var Page_ValidationSummaries =  new Array(document.getElementById("ValidationSummary1"));
var Page_Validators =  new Array(document.getElementById("RequiredFieldValidator5"), document.getElementById("RequiredFieldValidator1"), document.getElementById("RequiredFieldVdalidator8s"), document.getElementById("RequiredFieldValidator2"), document.getElementById("RequiredFieldValidator3"), document.getElementById("RegularExpressionValidator1"), document.getElementById("RequiredFieldValidator7"), document.getElementById("RequiredFieldValidator9"), document.getElementById("RequiredFieldValidator4"), document.getElementById("RequiredFieldValidator6"), document.getElementById("RequiredFieldValidator8"), document.getElementById("RequiredFieldValidator10"), document.getElementById("RequiredFieldValidator11"), document.getElementById("RequiredFieldValidator12"), document.getElementById("RequiredFieldValidator13"), document.getElementById("RequiredFieldValidator14"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var RequiredFieldValidator5 = document.all ? document.all["RequiredFieldValidator5"] : document.getElementById("RequiredFieldValidator5");
RequiredFieldValidator5.controltovalidate = "DDacco";
RequiredFieldValidator5.errormessage = "Please Select Accomodation Type";
RequiredFieldValidator5.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator5.initialvalue = "";
var RequiredFieldValidator1 = document.all ? document.all["RequiredFieldValidator1"] : document.getElementById("RequiredFieldValidator1");
RequiredFieldValidator1.controltovalidate = "nm";
RequiredFieldValidator1.errormessage = "Please enter your name";
RequiredFieldValidator1.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator1.initialvalue = "";
var RequiredFieldVdalidator8s = document.all ? document.all["RequiredFieldVdalidator8s"] : document.getElementById("RequiredFieldVdalidator8s");
RequiredFieldVdalidator8s.controltovalidate = "DD_are_you";
RequiredFieldVdalidator8s.errormessage = "Please Select desired option";
RequiredFieldVdalidator8s.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldVdalidator8s.initialvalue = "";
var RequiredFieldValidator2 = document.all ? document.all["RequiredFieldValidator2"] : document.getElementById("RequiredFieldValidator2");
RequiredFieldValidator2.controltovalidate = "contact";
RequiredFieldValidator2.errormessage = "Please enter your contact number";
RequiredFieldValidator2.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator2.initialvalue = "";
var RequiredFieldValidator3 = document.all ? document.all["RequiredFieldValidator3"] : document.getElementById("RequiredFieldValidator3");
RequiredFieldValidator3.controltovalidate = "email1";
RequiredFieldValidator3.errormessage = "Please enter Email ID";
RequiredFieldValidator3.display = "Dynamic";
RequiredFieldValidator3.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator3.initialvalue = "";
var RegularExpressionValidator1 = document.all ? document.all["RegularExpressionValidator1"] : document.getElementById("RegularExpressionValidator1");
RegularExpressionValidator1.controltovalidate = "email1";
RegularExpressionValidator1.errormessage = "Enter Valid Email ID";
RegularExpressionValidator1.display = "Dynamic";
RegularExpressionValidator1.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
RegularExpressionValidator1.validationexpression = "\\w+([-+.\']\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*";
var RequiredFieldValidator7 = document.all ? document.all["RequiredFieldValidator7"] : document.getElementById("RequiredFieldValidator7");
RequiredFieldValidator7.controltovalidate = "txtdt";
RequiredFieldValidator7.errormessage = "Please Select required from date ";
RequiredFieldValidator7.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator7.initialvalue = "";
var RequiredFieldValidator9 = document.all ? document.all["RequiredFieldValidator9"] : document.getElementById("RequiredFieldValidator9");
RequiredFieldValidator9.controltovalidate = "DDscf";
RequiredFieldValidator9.errormessage = "Please Select Accomodation occupancy";
RequiredFieldValidator9.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator9.initialvalue = "";
var RequiredFieldValidator4 = document.all ? document.all["RequiredFieldValidator4"] : document.getElementById("RequiredFieldValidator4");
RequiredFieldValidator4.controltovalidate = "DDgender";
RequiredFieldValidator4.errormessage = "Please Select gender";
RequiredFieldValidator4.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator4.initialvalue = "";
var RequiredFieldValidator6 = document.all ? document.all["RequiredFieldValidator6"] : document.getElementById("RequiredFieldValidator6");
RequiredFieldValidator6.controltovalidate = "DDpa";
RequiredFieldValidator6.errormessage = "Please Select Preferred Area";
RequiredFieldValidator6.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator6.initialvalue = "";
var RequiredFieldValidator8 = document.all ? document.all["RequiredFieldValidator8"] : document.getElementById("RequiredFieldValidator8");
RequiredFieldValidator8.controltovalidate = "DDsbath";
RequiredFieldValidator8.errormessage = "Please Select desired option for bathroom";
RequiredFieldValidator8.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator8.initialvalue = "";
var RequiredFieldValidator10 = document.all ? document.all["RequiredFieldValidator10"] : document.getElementById("RequiredFieldValidator10");
RequiredFieldValidator10.controltovalidate = "DDsbroom";
RequiredFieldValidator10.errormessage = "Please Select desired option for bedroom";
RequiredFieldValidator10.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator10.initialvalue = "";
var RequiredFieldValidator11 = document.all ? document.all["RequiredFieldValidator11"] : document.getElementById("RequiredFieldValidator11");
RequiredFieldValidator11.controltovalidate = "DDExpRang";
RequiredFieldValidator11.errormessage = "Please Select Expected Stay";
RequiredFieldValidator11.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator11.initialvalue = "";
var RequiredFieldValidator12 = document.all ? document.all["RequiredFieldValidator12"] : document.getElementById("RequiredFieldValidator12");
RequiredFieldValidator12.controltovalidate = "DDBudget";
RequiredFieldValidator12.errormessage = "Please Select Budget Range";
RequiredFieldValidator12.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator12.initialvalue = "";
var RequiredFieldValidator13 = document.all ? document.all["RequiredFieldValidator13"] : document.getElementById("RequiredFieldValidator13");
RequiredFieldValidator13.controltovalidate = "DDnop";
RequiredFieldValidator13.errormessage = "Please choose number of people requiring accomodation";
RequiredFieldValidator13.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator13.initialvalue = "";
var RequiredFieldValidator14 = document.all ? document.all["RequiredFieldValidator14"] : document.getElementById("RequiredFieldValidator14");
RequiredFieldValidator14.controltovalidate = "txtwhabt";
RequiredFieldValidator14.errormessage = "Would love to here from where did you here about us. e.g. Facebook/ Friend/ any other source";
RequiredFieldValidator14.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
RequiredFieldValidator14.initialvalue = "";
var ValidationSummary1 = document.all ? document.all["ValidationSummary1"] : document.getElementById("ValidationSummary1");
ValidationSummary1.showmessagebox = "True";
ValidationSummary1.showsummary = "False";
//]]>
</script>


<script type="text/javascript">
//<![CDATA[

var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        
document.getElementById('ValidationSummary1').dispose = function() {
    Array.remove(Page_ValidationSummaries, document.getElementById('ValidationSummary1'));
}
Sys.Application.initialize();

document.getElementById('RequiredFieldValidator5').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator5'));
}

document.getElementById('RequiredFieldValidator1').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator1'));
}

document.getElementById('RequiredFieldVdalidator8s').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldVdalidator8s'));
}

document.getElementById('RequiredFieldValidator2').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator2'));
}

document.getElementById('RequiredFieldValidator3').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator3'));
}

document.getElementById('RegularExpressionValidator1').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RegularExpressionValidator1'));
}

document.getElementById('RequiredFieldValidator7').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator7'));
}

document.getElementById('RequiredFieldValidator9').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator9'));
}

document.getElementById('RequiredFieldValidator4').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator4'));
}

document.getElementById('RequiredFieldValidator6').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator6'));
}

document.getElementById('RequiredFieldValidator8').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator8'));
}

document.getElementById('RequiredFieldValidator10').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator10'));
}

document.getElementById('RequiredFieldValidator11').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator11'));
}

document.getElementById('RequiredFieldValidator12').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator12'));
}

document.getElementById('RequiredFieldValidator13').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator13'));
}

document.getElementById('RequiredFieldValidator14').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RequiredFieldValidator14'));
}
//]]>
</script>
</form>
                   
                    </div>
     <script type="text/javascript" language="javascript">

         if (upLevel) {

             var splash = document.getElementById("splashScreen");

         }

         else if (ns4) {

             var splash = document.splashScreen;

         }

         else if (ie4) {

             var splash = document.all.splashScreen;

         }

         hideObject(splash);

</script>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>
</div>
<section class=" mbr-fullscreen-footer" id="section6">

    <div class="mbr-overlay" style="opacity: 1; background: white;">
   
    </div>

    <div class="container  ">
      <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
      <div style="text-align:center;font-size:17px;color:gray;"  > CONNECT - stayz@3fellas.com.au &nbsp;
       {% if social_links!='' %}
       {% for sociallinks in social_links %}
      <a href="{{ sociallinks.getLinkText }}" target="_blank" style="color:black;"> {{ sociallinks.getLinkIcon|raw }} </a>&nbsp;
       {% endfor %}	
      {% endif %}
      </div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>

{% include 'footer.html.twig' with {'extra_js':''} %} 