{% include 'header.html.twig' with {'title': 'Products','extra_css':''}  %}
<body style="font-family: 'Yanone Kaffeesatz', sans-serif;">

{% include 'default/default_header.html.twig'%}



<section class=" mbr-fullscreen-nxt" id="section05">

    <div class="mbr-overlay" style="opacity: 1; background: white;">
   
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
      <div style="color: green; font-size:medium;font-weight:bolder;" ><a href="{{ url('home_page') }}" style="color: green; font-size:medium;font-weight:bolder;">Home </a>-> Products</div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>



<section class=" mbr-fullscreen-content" id="section06">

    <div class="mbr-overlay" style="opacity: 1; background: gray; ">
   
    </div>

    <div class="container">
            <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12">
            
        <h4 style="font-family: 'Russo One', sans-serif; color: gold; "> Products </h4> 
			


            </div>

            </div>
			 
    </div>
 
    
</section>
<section class=" mbr-fullscreen-content" id="section06">

    <div class="mbr-overlay" style="opacity: 1; background: gold; ">
   
    </div>

    <div class="container">
            <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12">
            
        
			  <div class="container">
    
           
                <div class=" align-center">
                    <h1 style="font-family: 'Russo One', sans-serif; color:green;">WE HAVE ALL YOU NEED</h1>
                    <h3  style="font-family: 'Baloo Tammudu', cursive; color:green;">
                        All you need to choose your package and relax</h3>
                </div>
            
    </div>
            </div>

            </div>
			
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>
<section class="mbr-fullscreen-content cid-qMWvg25s2I" id="header12-p">

    <div class="mbr-overlay" style="opacity: 1; background-color: gold;">
    </div>

    <div class="container  ">
    
            <div class="media-container">
                <div class="col-md-12 align-center">
                    
                    

                    <div class="icons-media-container">
                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                           
                                <span class="mbr-iconfont mbrib-protect" style="color:Black;"></span>
                           
                            </div>
                            <h5 class="mbr-fonts-style display-5" style="font-family: 'Baloo Tammudu', cursive;">Quality</h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                           
                                    <span class="mbr-iconfont mbrib-home" style="color:Black;"></span>
                           
                            </div>
                            <h5 class="mbr-fonts-style display-5" style="font-family: 'Baloo Tammudu', cursive;">
                                Affordable Units</h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                           
                                    <span class="mbr-iconfont mbrib-success" style="color:Black;"></span>
                           
                            </div>
                            <h5 class="mbr-fonts-style display-5" style="font-family: 'Baloo Tammudu', cursive;">Convenience</h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                           
                                    <span class="mbr-iconfont mbrib-rocket" style="color:Black;"></span>
                           
                            </div>
                            <h5 class="mbr-fonts-style display-5" style="font-family: 'Baloo Tammudu', cursive;">Airport Pickup</h5>
                        </div>
                    </div>
                </div>
            </div>
    </div>


</section>


<section class=" mbr-fullscreen-cnt" id="section2">

    <div class="mbr-overlay" style="opacity: 1; background: gray;">
   
    </div>

    <div class="container  ">
   
            <div class="media-container-row">
            
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
             <h3 style="font-family: 'Russo One', sans-serif; color:White;  ">Types</h3>
             <div class="media-container-row" style="font-size:xx-large; text-align:center; font-weight:bolder; color:Green;">
           <div class="card p-3 col-12 col-md-6 col-lg-6 boxroom">
           TWIN SHARED
           </div>
           <div class="card p-3 col-12 col-md-6 col-lg-6 boxroom">
           PRIVATE ROOM
           </div>
               

             </div>
             </div>
            
    </div>

  
</section>

<section class=" mbr-fullscreen-cnt" id="section122">

    <div class="mbr-overlay" style="opacity: 1; background: gold;">
   
    </div>

    <div class="container  ">
   
            
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-12 ">
            <h3 style="font-family: 'Russo One', sans-serif; color:black;  ">All the 3FELLAS Stayz accomodations are fully furnished. </h3>
           
           <div class="media-container-row" style="font-size:x-large;">
           <div class="card p-3 col-12 col-md-6 col-lg-4 ">

           <div class="latest-news">
        <ul class="news-list">
                <li> <div class="announce"> <img src="{{ asset('web_assets/images/icons/sofa.png') }}" width="20%" height="20%"/> &nbsp;  Sofa  </div>
                    
                </li> 
                <li>
                   
					<div class="announce"> <img src="{{ asset('web_assets/images/icons/table1.png') }}" width="20%" height="20%"/> &nbsp;  Dining Table and Chairs                  </div>

                </li>
                <li>
                   
					<div class="announce"> <img src="{{ asset('web_assets/images/icons/fridge.png') }}" width="20%" height="20%"/> &nbsp; Fridge  </div>

                </li>
                <li>
                   
					<div class="announce"> <img src="{{ asset('web_assets/images/icons/washing-machine.png') }}" width="20%" height="20%"/> &nbsp; Washing Machine  </div>

                </li>
                <li>
                   
					<div class="announce"> <img src="{{ asset('web_assets/images/icons/heating-room.png') }}" width="20%" height="20%"/> &nbsp; Dryer<sup>*</sup> </div>

                </li>
                <li>
                   
					<div class="announce"> <img src="{{ asset('web_assets/images/icons/toaster-oven.png') }}" width="20%" height="20%"/> &nbsp; Microwave  </div>

                </li>
                
            
        </ul>
    </div>

           </div>
           <div class="card p-3 col-12 col-md-6 col-lg-4 " >
            <div class="latest-news">
        <ul class="news-list">
  <li>
                   
					<div class="announce"> <img src="{{ asset('web_assets/images/icons/sand.png') }}" width="15%" height="15%"/> &nbsp; &nbsp; Sandwich Maker  </div>

                </li>
                <li>
                   
					<div class="announce"> <img src="{{ asset('web_assets/images/icons/toaster.png') }}" width="20%" height="20%"/> &nbsp; Toaster  </div>

                </li>
                <li>
                   
					<div class="announce"> <img src="{{ asset('web_assets/images/icons/bed1.png') }}" width="20%" height="20%"/> &nbsp; Bed  </div>

                </li>
                 <li>
                   
					<div class="announce"> <img src="{{ asset('web_assets/images/icons/carpet.png') }}" width="20%" height="20%"/> &nbsp; Mattress  </div>

                </li>
                 <li>
                   
					<div class="announce"> <img src="{{ asset('web_assets/images/icons/sheet-metal.png') }}" width="20%" height="20%"/> &nbsp; Fitted Bedsheet  </div>

                </li>
                 <li>
                   
					<div class="announce"> <img src="{{ asset('web_assets/images/icons/bureau.png') }}" width="20%" height="20%"/> &nbsp; Bed Side Table  </div>

                </li>
                 </ul>
                 </div>
<center><sup>*</sup> AVAILABILITY DEPENDING ON APARTMENT</center>
           </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4 ">
             <div class="latest-news">
        <ul class="news-list" >
        <li>
                   
					<div class="announce"> <img src="{{ asset('web_assets/images/icons/cutlery.png') }}" width="20%" height="20%"/> &nbsp; Basic Kitchen Utensils  </div>

                </li>
                 <li>
                   
					<div class="announce"> <img src="{{ asset('web_assets/images/icons/waste.png') }}" width="20%" height="20%"/> &nbsp; Bin  </div>

                </li>
                 <li>
                   
					<div class="announce"><img src="{{ asset('web_assets/images/icons/towel.png') }}" width="20%" height="20%" /> &nbsp;  Drying Stand </div>

                </li>
				  <li>
                   
					<div class="announce"><img src="{{ asset('web_assets/images/icons/air-conditioner.png') }}" width="20%" height="20%" /> &nbsp;  Air Conditioner <sup>*</sup></div>

                </li>
                
                </ul>
                </div>
           </div>
            </div>
            
            
            
             
            </div>
    </div>

   
</section>



{% include 'footer.html.twig' with {'extra_js':''} %} 