{% include 'admin/header.html.twig' with {'title': 'Suggest Services','extra_css':''}  %}
<body>
<body>
<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper"> {% include 'default/inner_header.html.twig' %} 
    <!-- Sidebar inner chat start-->
    
    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <nav class="pcoded-navbar"> {% include 'default/sidebar.html.twig' %} </nav>
        <div class="pcoded-content">
          <div class="pcoded-inner-content"> 
            <!-- Main-body start -->
            <div class="main-body">
              <div class="page-wrapper"> 
                <!-- Page-header start -->
                <div class="page-header">
                  <div class="row align-items-end">
                    <div class="col-lg-8">
                      <div class="page-header-title">
                        <div class="d-inline">
                          <h4>Suggest Services</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                          <li class="breadcrumb-item"> <a href="{{ url('user_dashboard')}}"> <i class="feather icon-home"></i> </a> </li>
                          <li class="breadcrumb-item"><a href="#!">Suggest Services</a> </li>
                          <li class="breadcrumb-item"><a href="#!">Information</a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Page-header end --> 
                <!-- Page body start -->
                <div class="page-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card">
                        <div class="card-header"> {% for type, messages in app.session.flashbag.all() %}
                          {% for message in messages %}
                          <div class="flash-{{type}}">{{message}}</div>
                          {% endfor %}
                          {% endfor %} </div>
                        <div class="card-block">
                          <div class="dt-responsive table-responsive">
                            <table id="Enquiries_table" class="table table-striped table-bordered nowrap">
                              <thead>
                                <tr>
                                 <th>Service Suggestion</th>
                                  <th>Entry Time</th>
                            </tr>
                             {% for allsuggestion in all_suggestions %}
                              <tr>
                                <td>{{ allsuggestion.getSuggestions }}</td>
                                <td>{{ allsuggestion.getEntryTime|date('d M, Y h:i A') }} </td>
                                                                
                              </tr>
                              {% endfor %}
                                </thead>
                              
                            </table>
                            <center>
                              {{ include('pagination.html.twig') }}
                            </center>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Page body end --> 
              </div>
            </div>
            <!-- Main-body end --> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script> 
{% include 'admin/footer.html.twig' with {'extra_js':''} %}
